*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar{
    background-color: #fefefe;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    height: 50px;
}
.navbar input{
    position: relative; 
    left:980px;    
}

.login{
    align-items: center;
    background-clip: padding-box;
    background-color:aquamarine;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 0.5;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    left:100%;
  }
  
    .login:hover,
    .login:focus {
    background-color: #50DBB4;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
    .login:hover {
    transform: translateY(-1px);
  }
.navbar ul li {
 list-style: none;
 display: inline-block;
}
.navbar ul li a{
    font-family:sans-serif;
    top:1px;
    left:40px;
    position: relative;
   padding: 3px 20px;
   text-decoration: none;
  color:#50DBB4;
}
.poster img{
    top:100px;
    width:500px;
    height:500px;
    position: absolute;
    right:20px;
}
.poster h2{
    position: absolute;
    top: 250px;
    left:150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.bar{
    position: absolute;
    top: 290px;
    left:150px;
    background-color:#50DBB4;
    border: 20px;
    width:60px;
    height:5px;
}
.poster h2 span{
   color:#50DBB4;
}
.poster p{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    top: 315px;
    left:150px;
}
.poster input{
    position: absolute;
    top: 350px;
    left:150px;
    width:180px;
    height:40px;
    text-align: center;
    border:1px solid #fefefe;
    background-color:#50DBB4;
    border-radius: 15px;
    font-family:Verdana, Tahoma, sans-serif;
}
.keymoments{
  position: absolute;
  background-color: #120E43;
  top: 820px;
  width:100%;
  height:700px;
  border:2px solid #000;
}
.keymoments img{
  position: relative;
  top:80px;
  left:180px;
  width:600px;
  height:500px;
  border-radius: 10px;
}
.text{
  position:relative;
  top:-400px;
  width:500px;
  left:800px;
  height: 400px;
}
.text1 {
  border:1px solid rgb(35, 226, 226) ;
  border-radius: 3px;
  position: relative;
  left:20px;
  padding-left: 10px;
  padding-top:100px;
  font-size: 20px;
  color:#fff;
  background-color: rgb(35, 226, 226);
  text-align: center;
  top:-20px;
  width:200px;
  height:230px;
}
.text2 {
  border:1px solid #51E1ED ;
  border-radius: 3px;
  position: relative;
  left:260px;
  padding-left: 10px;
  padding-top:100px;
  font-size: 20px;
  color:#fff;
  background-color: #51E1ED;
  text-align: center;
  top:-250px;
  width:200px;
  height:230px;
}
.text3{
  border:1px solid #3944F7 ;
  border-radius: 3px;
  position: relative;
  left:20px;
  padding-left: 10px;
  padding-top:100px;
  font-size: 20px;
  color:#fff;
  background-color: #3944F7;
  text-align: center;
  top:-220px;
  width:200px;
  height:230px;
}
.text4{
  border:1px solid #8D3DAF ;
  border-radius: 3px;
  position: relative;
  left:260px;
  padding-left: 10px;
  padding-top:100px;
  font-size: 20px;
  color:#fff;
  background-color: #8D3DAF;
  text-align: center;
  top:-450px;
  width:200px;
  height:230px;
}
.middle{
  position: absolute;
  top:1700px;
  height:700px;
}
.middle p{
  position: absolute;
  top:-120px;
  left:230px;
  font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  color:#50DBB4;
  font-size: 34px;
}
.middle img{
  position: relative;
  top:-60px;
  left:200px;
  width:650px;
  height:500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.mid1{
  position: relative;
  top:-510px;
  left:900px;
  width:400px;
  height: 200px;;
}
.mid1 h4{
  color:#50DBB4;
  padding:12px 12px;
  font-size: 20px;
  font-weight: 500px;
  position: relative;
}
.mid1 h5{
  font-family:'Gill Sans','Trebuchet MS', sans-serif;
  font-size: 15px;
  position: relative;
  right:-30px;
  color: #333;
  font-weight: 100px;
  margin-right:40px;
}
.mid1:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.mid2{
  position: relative;
  top:-480px;
  left:900px;
  width:400px;
  height: 200px;;
}
.mid2 h4{
  color:#50DBB4;
  padding:12px 12px;
  font-size: 20px;
  font-weight: 500px;
  position: relative;
  right:00px;
}
.mid2 h5{
  font-family:'Gill Sans','Trebuchet MS', sans-serif;
  font-size: 15px;
  position: relative;
  padding-top:10px;
  right:-30px;
  color: #333;
  font-weight: 100px;
  margin-right:40px;
}
.mid2:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.it{
  background-color: #120E43;
  position: absolute;
  top:2300px;
  width:1470px;
  border:2px solid #000;
  padding:20px 12px ;
  height:700px;
}
.it img{
  position: relative;
  top:70px;
  left:370px;
  width:500px;
  height:400px;
}
.it p{
  position: absolute;
  top:150px;
  color:#fefefe;
  font-size:30px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  left:1000px;
}
.it h4{
  position: absolute;
  top:200px;
  color:aquamarine;
  left:1000px;
  padding: 2px;
  font-size:25px;
  font-weight: 500;
  margin-right:100px;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  
}
.it h5{
  position: absolute;
  top:220px;
  color:aquamarine;
  left:1000px;
  font-size:25px;
  font-weight: 500;
  justify-content: right;
  margin-right: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  padding-top: 52px;
  
}
.bottom{
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
   position: absolute;
   left:20px;
  top:2950px;
   width:100%;
   height:500px;
   padding:50px;
}
.top-text{
  display:grid;
  align-items: center;
  justify-content: center;
}
.top-text h1{
   color:#333;
   font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
   font-weight: 500;
   position:relative;
   top:10px;
   left:100px;
}
.top-text h2{
  position: relative;
  top:10px;
  left:50px;
  font-size:15px;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.top-text p{
  position: relative;
  left:10px;
  top:20px;
  font-size:15px;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.card1{
  position: relative;
  top:70px;
  border:1px solid #fefefe;
  width:350px;
  left:50px;
  padding:12px;
  height:250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.card1 h2{
  text-align: center;
  color:#50DBB4;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.card2 h2{
  text-align: center;
  color:#50DBB4;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.card3 h2{
  text-align: center;
  color:#50DBB4;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.card1 p{
  position: relative;
  top:20px;
  padding:19px 20px;
  text-align: center;
  color:#333;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.card2 p{
  position: relative;
  top:20px;
  padding:19px 20px;
  text-align: center;
  color:#333;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.card3 p{
  position: relative;
  top:20px;
  padding:19px 20px;
  text-align: center;
  color:#333;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}



.card2{
  position: relative;
  top:70px;
  padding:12px;
  top:-180px;
  left:480px;
  border:1px solid #fefefe;
  width:350px;
  height:250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.card3{
  position: relative;
  top:-430px;
  padding:12px;
  left:900px;
  border:1px solid #fefefe;
  width:350px;
  height:250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

